<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            Informações importantes
          </h1>
          <h2 class="subtitle">
            Instale a extensão no link abaixo para o google chrome.
          </h2>
          <a
            href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi">
            -> CORS
          </a>
          <p>Ao instalar, verifique se o mesmo está ativo.</p>
        </div>
      </div>
    </div>
  </div>
</section>