.container {
    margin-top: 4%;
    margin-bottom: 5%;
}
p {
    color: white;
}

.hero {
    border-radius: 100px;
    border: 25px solid #4C230A;
}

.hero-body {
    padding-top: 3%;
    padding-bottom: 3%;
}